@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inika%3Aital%2Cwght%400%2C400%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-TOXEVtYBp0xq_font-family: "Inter", sans-serif;
  --mixin-TOXEVtYBp0xq_font-size: 14px;
  --mixin-TOXEVtYBp0xq_font-weight: 400;
  --mixin-TOXEVtYBp0xq_font-style: normal;
  --mixin-TOXEVtYBp0xq_color: #535353;
  --mixin-TOXEVtYBp0xq_text-align: left;
  --mixin-TOXEVtYBp0xq_text-transform: none;
  --mixin-TOXEVtYBp0xq_line-height: 1.5;
  --mixin-TOXEVtYBp0xq_letter-spacing: normal;
  --mixin-TOXEVtYBp0xq_white-space: pre-wrap;
  --mixin-TOXEVtYBp0xq_user-select: text;
  --mixin-TOXEVtYBp0xq_text-decoration-line: none;
  --mixin-TOXEVtYBp0xq_text-overflow: clip;
  --mixin-XDfzZuuBrIkL_color: #000000;
  --mixin-XDfzZuuBrIkL_font-weight: 600;
  --mixin-XDfzZuuBrIkL_font-size: 40px;
  --mixin-XDfzZuuBrIkL_line-height: 1;
  --mixin-XDfzZuuBrIkL_letter-spacing: -1px;
  --mixin-XDfzZuuBrIkL_white-space: pre-wrap;
  --mixin-lQYn276Aq0G0_color: #000000;
  --mixin-lQYn276Aq0G0_font-size: 30px;
  --mixin-lQYn276Aq0G0_font-weight: 600;
  --mixin-lQYn276Aq0G0_line-height: 1.1;
  --mixin-lQYn276Aq0G0_white-space: pre-wrap;
  --mixin-uSKJxmOUfwG9_color: #0070f3;
  --mixin-uSKJxmOUfwG9_white-space: pre-wrap;
  --mixin-tgcIb0e2W38c_color: #000000;
  --mixin-tgcIb0e2W38c_font-size: 24px;
  --mixin-tgcIb0e2W38c_font-weight: 600;
  --mixin-tgcIb0e2W38c_line-height: 1.2;
  --mixin-tgcIb0e2W38c_white-space: pre-wrap;
  --mixin-Z61dUxQ16vP8_color: #000000;
  --mixin-Z61dUxQ16vP8_font-size: 20px;
  --mixin-Z61dUxQ16vP8_font-weight: 600;
  --mixin-Z61dUxQ16vP8_line-height: 1.3;
  --mixin-Z61dUxQ16vP8_white-space: pre-wrap;
  --mixin-MZH84GAkT9VW_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-MZH84GAkT9VW_border-bottom-color: #dddddd;
  --mixin-MZH84GAkT9VW_border-bottom-style: solid;
  --mixin-MZH84GAkT9VW_border-bottom-width: 1px;
  --mixin-MZH84GAkT9VW_border-left-color: #dddddd;
  --mixin-MZH84GAkT9VW_border-left-style: solid;
  --mixin-MZH84GAkT9VW_border-left-width: 1px;
  --mixin-MZH84GAkT9VW_border-right-color: #dddddd;
  --mixin-MZH84GAkT9VW_border-right-style: solid;
  --mixin-MZH84GAkT9VW_border-right-width: 1px;
  --mixin-MZH84GAkT9VW_border-top-color: #dddddd;
  --mixin-MZH84GAkT9VW_border-top-style: solid;
  --mixin-MZH84GAkT9VW_border-top-width: 1px;
  --mixin-MZH84GAkT9VW_border-bottom-left-radius: 3px;
  --mixin-MZH84GAkT9VW_border-bottom-right-radius: 3px;
  --mixin-MZH84GAkT9VW_border-top-left-radius: 3px;
  --mixin-MZH84GAkT9VW_border-top-right-radius: 3px;
  --mixin-MZH84GAkT9VW_font-family: "Inconsolata";
  --mixin-MZH84GAkT9VW_padding-bottom: 1px;
  --mixin-MZH84GAkT9VW_padding-left: 4px;
  --mixin-MZH84GAkT9VW_padding-right: 4px;
  --mixin-MZH84GAkT9VW_padding-top: 1px;
  --mixin-MZH84GAkT9VW_white-space: pre-wrap;
  --mixin-V3m1IjqanhB2_border-left-color: #dddddd;
  --mixin-V3m1IjqanhB2_border-left-style: solid;
  --mixin-V3m1IjqanhB2_border-left-width: 3px;
  --mixin-V3m1IjqanhB2_color: #888888;
  --mixin-V3m1IjqanhB2_padding-left: 10px;
  --mixin-V3m1IjqanhB2_white-space: pre-wrap;
  --mixin-73smoszei77W_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-73smoszei77W_border-bottom-color: #dddddd;
  --mixin-73smoszei77W_border-bottom-style: solid;
  --mixin-73smoszei77W_border-bottom-width: 1px;
  --mixin-73smoszei77W_border-left-color: #dddddd;
  --mixin-73smoszei77W_border-left-style: solid;
  --mixin-73smoszei77W_border-left-width: 1px;
  --mixin-73smoszei77W_border-right-color: #dddddd;
  --mixin-73smoszei77W_border-right-style: solid;
  --mixin-73smoszei77W_border-right-width: 1px;
  --mixin-73smoszei77W_border-top-color: #dddddd;
  --mixin-73smoszei77W_border-top-style: solid;
  --mixin-73smoszei77W_border-top-width: 1px;
  --mixin-73smoszei77W_border-bottom-left-radius: 3px;
  --mixin-73smoszei77W_border-bottom-right-radius: 3px;
  --mixin-73smoszei77W_border-top-left-radius: 3px;
  --mixin-73smoszei77W_border-top-right-radius: 3px;
  --mixin-73smoszei77W_font-family: "Inconsolata";
  --mixin-73smoszei77W_padding-bottom: 3px;
  --mixin-73smoszei77W_padding-left: 6px;
  --mixin-73smoszei77W_padding-right: 6px;
  --mixin-73smoszei77W_padding-top: 3px;
  --mixin-73smoszei77W_white-space: pre-wrap;
  --mixin-lAbgwyhi8i97_display: flex;
  --mixin-lAbgwyhi8i97_flex-direction: column;
  --mixin-lAbgwyhi8i97_align-items: stretch;
  --mixin-lAbgwyhi8i97_justify-content: flex-start;
  --mixin-lAbgwyhi8i97_list-style-position: outside;
  --mixin-lAbgwyhi8i97_padding-left: 40px;
  --mixin-lAbgwyhi8i97_position: relative;
  --mixin-lAbgwyhi8i97_list-style-type: disc;
  --mixin-lAbgwyhi8i97_white-space: pre-wrap;
  --mixin-Ii-OROEZcie0_display: flex;
  --mixin-Ii-OROEZcie0_flex-direction: column;
  --mixin-Ii-OROEZcie0_align-items: stretch;
  --mixin-Ii-OROEZcie0_justify-content: flex-start;
  --mixin-Ii-OROEZcie0_list-style-position: outside;
  --mixin-Ii-OROEZcie0_padding-left: 40px;
  --mixin-Ii-OROEZcie0_position: relative;
  --mixin-Ii-OROEZcie0_list-style-type: decimal;
  --mixin-Ii-OROEZcie0_white-space: pre-wrap;
  --mixin-6Kwjzm8Oye9x_color: #000000;
  --mixin-6Kwjzm8Oye9x_font-size: 16px;
  --mixin-6Kwjzm8Oye9x_font-weight: 600;
  --mixin-6Kwjzm8Oye9x_line-height: 1.5;
  --mixin-6Kwjzm8Oye9x_white-space: pre-wrap;
  --mixin-TfH4FRA_CCgS_color: #000000;
  --mixin-TfH4FRA_CCgS_font-size: 14px;
  --mixin-TfH4FRA_CCgS_font-weight: 600;
  --mixin-TfH4FRA_CCgS_line-height: 1.5;
  --mixin-TfH4FRA_CCgS_white-space: pre-wrap;
  --mixin-CAJoqJWiwCxo_color: #3291ff;
  --mixin-CAJoqJWiwCxo_white-space: pre-wrap;
  --mixin-W2lwin5iNP3A_white-space: pre-wrap;
  --mixin-sxpoQoF82dt6_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-TOXEVtYBp0xq_font-family);
  font-size: var(--mixin-TOXEVtYBp0xq_font-size);
  font-weight: var(--mixin-TOXEVtYBp0xq_font-weight);
  font-style: var(--mixin-TOXEVtYBp0xq_font-style);
  color: var(--mixin-TOXEVtYBp0xq_color);
  text-align: var(--mixin-TOXEVtYBp0xq_text-align);
  text-transform: var(--mixin-TOXEVtYBp0xq_text-transform);
  line-height: var(--mixin-TOXEVtYBp0xq_line-height);
  letter-spacing: var(--mixin-TOXEVtYBp0xq_letter-spacing);
  white-space: var(--mixin-TOXEVtYBp0xq_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-XDfzZuuBrIkL_color);
  font-weight: var(--mixin-XDfzZuuBrIkL_font-weight);
  font-size: var(--mixin-XDfzZuuBrIkL_font-size);
  line-height: var(--mixin-XDfzZuuBrIkL_line-height);
  letter-spacing: var(--mixin-XDfzZuuBrIkL_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-lQYn276Aq0G0_color);
  font-size: var(--mixin-lQYn276Aq0G0_font-size);
  font-weight: var(--mixin-lQYn276Aq0G0_font-weight);
  line-height: var(--mixin-lQYn276Aq0G0_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-uSKJxmOUfwG9_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-tgcIb0e2W38c_color);
  font-size: var(--mixin-tgcIb0e2W38c_font-size);
  font-weight: var(--mixin-tgcIb0e2W38c_font-weight);
  line-height: var(--mixin-tgcIb0e2W38c_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-Z61dUxQ16vP8_color);
  font-size: var(--mixin-Z61dUxQ16vP8_font-size);
  font-weight: var(--mixin-Z61dUxQ16vP8_font-weight);
  line-height: var(--mixin-Z61dUxQ16vP8_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-MZH84GAkT9VW_font-family);
  border-radius: var(--mixin-MZH84GAkT9VW_border-top-left-radius)
    var(--mixin-MZH84GAkT9VW_border-top-right-radius)
    var(--mixin-MZH84GAkT9VW_border-bottom-right-radius)
    var(--mixin-MZH84GAkT9VW_border-bottom-left-radius);
  padding: var(--mixin-MZH84GAkT9VW_padding-top)
    var(--mixin-MZH84GAkT9VW_padding-right)
    var(--mixin-MZH84GAkT9VW_padding-bottom)
    var(--mixin-MZH84GAkT9VW_padding-left);
  border-top: var(--mixin-MZH84GAkT9VW_border-top-width)
    var(--mixin-MZH84GAkT9VW_border-top-style)
    var(--mixin-MZH84GAkT9VW_border-top-color);
  border-right: var(--mixin-MZH84GAkT9VW_border-right-width)
    var(--mixin-MZH84GAkT9VW_border-right-style)
    var(--mixin-MZH84GAkT9VW_border-right-color);
  border-bottom: var(--mixin-MZH84GAkT9VW_border-bottom-width)
    var(--mixin-MZH84GAkT9VW_border-bottom-style)
    var(--mixin-MZH84GAkT9VW_border-bottom-color);
  border-left: var(--mixin-MZH84GAkT9VW_border-left-width)
    var(--mixin-MZH84GAkT9VW_border-left-style)
    var(--mixin-MZH84GAkT9VW_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-V3m1IjqanhB2_color);
  padding-left: var(--mixin-V3m1IjqanhB2_padding-left);
  border-left: var(--mixin-V3m1IjqanhB2_border-left-width)
    var(--mixin-V3m1IjqanhB2_border-left-style)
    var(--mixin-V3m1IjqanhB2_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-73smoszei77W_font-family);
  border-radius: var(--mixin-73smoszei77W_border-top-left-radius)
    var(--mixin-73smoszei77W_border-top-right-radius)
    var(--mixin-73smoszei77W_border-bottom-right-radius)
    var(--mixin-73smoszei77W_border-bottom-left-radius);
  padding: var(--mixin-73smoszei77W_padding-top)
    var(--mixin-73smoszei77W_padding-right)
    var(--mixin-73smoszei77W_padding-bottom)
    var(--mixin-73smoszei77W_padding-left);
  border-top: var(--mixin-73smoszei77W_border-top-width)
    var(--mixin-73smoszei77W_border-top-style)
    var(--mixin-73smoszei77W_border-top-color);
  border-right: var(--mixin-73smoszei77W_border-right-width)
    var(--mixin-73smoszei77W_border-right-style)
    var(--mixin-73smoszei77W_border-right-color);
  border-bottom: var(--mixin-73smoszei77W_border-bottom-width)
    var(--mixin-73smoszei77W_border-bottom-style)
    var(--mixin-73smoszei77W_border-bottom-color);
  border-left: var(--mixin-73smoszei77W_border-left-width)
    var(--mixin-73smoszei77W_border-left-style)
    var(--mixin-73smoszei77W_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-lAbgwyhi8i97_display);
  flex-direction: var(--mixin-lAbgwyhi8i97_flex-direction);
  align-items: var(--mixin-lAbgwyhi8i97_align-items);
  justify-content: var(--mixin-lAbgwyhi8i97_justify-content);
  list-style-position: var(--mixin-lAbgwyhi8i97_list-style-position);
  padding-left: var(--mixin-lAbgwyhi8i97_padding-left);
  position: var(--mixin-lAbgwyhi8i97_position);
  list-style-type: var(--mixin-lAbgwyhi8i97_list-style-type);
  flex-column-gap: var(--mixin-lAbgwyhi8i97_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-Ii-OROEZcie0_display);
  flex-direction: var(--mixin-Ii-OROEZcie0_flex-direction);
  align-items: var(--mixin-Ii-OROEZcie0_align-items);
  justify-content: var(--mixin-Ii-OROEZcie0_justify-content);
  list-style-position: var(--mixin-Ii-OROEZcie0_list-style-position);
  padding-left: var(--mixin-Ii-OROEZcie0_padding-left);
  position: var(--mixin-Ii-OROEZcie0_position);
  list-style-type: var(--mixin-Ii-OROEZcie0_list-style-type);
  flex-column-gap: var(--mixin-Ii-OROEZcie0_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-6Kwjzm8Oye9x_color);
  font-size: var(--mixin-6Kwjzm8Oye9x_font-size);
  font-weight: var(--mixin-6Kwjzm8Oye9x_font-weight);
  line-height: var(--mixin-6Kwjzm8Oye9x_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-TfH4FRA_CCgS_color);
  font-size: var(--mixin-TfH4FRA_CCgS_font-size);
  font-weight: var(--mixin-TfH4FRA_CCgS_font-weight);
  line-height: var(--mixin-TfH4FRA_CCgS_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-CAJoqJWiwCxo_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
